{% extends 'base.html' %}
{% block head %} 
    <title>Shopping List</title>
{% endblock %}


{% block body %} 
<br>
<h1>Welcome to the Task-genie Shopping List</h1>
<br>
<hr>
<br>

<!--hr>
<div style="display:inline"></div>
<h2>Create a new shopping list item:</h2>
<form action="/shop" method="POST">
    <h2 style="display-inline">name:</h2><input type="text" name="name" id="name" style="display-inline">
    <br>
    <input type="submit" value="Save" style="display-inline" class="btn btn-primary">
</form>
<hr-->
<h2>Make a new shopping list item below</h2>

<div class="container">
<form action="/shop" method="POST">
<div class="form-group row">
    <div class="col-sm-10">
      <input type="text" name="name" id="name" class="form-control" placeholder="Name...">
    </div>
<input type="submit" value="Save" style="display-inline" class="btn btn-primary">
</div>
</form>
</div>



</div>
{% for shopitem in shopl %}
    <div class="card text-white bg-info mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ shopitem.name }}</h5>
      <a href="/shop/delete/{{ shopitem.id }}" class="card-link btn btn-danger">Delete</a>
    </div>
  </div>
{% endfor %}


{% endblock %}